* {
  color: var(----main-text);
  font-family: var(--font-familly);
  margin: 0;
  padding: 0;
}
.hero-section {
  display: flex;
  flex-flow: row-reverse wrap;
  position: relative;
  top: 7rem;
  background-color: var(--background-section);
  min-height: 20rem;
  min-width: 98.5vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image img {
  height: 12rem;
  border-radius: 6rem;
}
.welcome-note .fullname {
  color: var(--main-text);
  font-size: var(--H2);
  font-weight: var(--style-regular);
  text-align: center;
  padding: 1rem;
}
.welcome-note .position {
  color: var(--highlight-text);
  font-weight: var(--style-bold);
}
.welcome-note .regular {
  font-weight: var(--style-thin);
}
.welcome-note .description {
  font-weight: var(--style-thin);
  color: var(--main-text);
  font-size: var(--H3);
  text-align: center;
  padding: 0.5rem;
}

/* Responsive */
@media (max-width: 850px) {
  .hero-section {
    flex-flow: column wrap;
  }
  .image img {
    padding-top: 1rem;
    height: 10rem;
    border-radius: 9rem;
  }
  .welcome-note .fullname{
    padding: 0.1rem;
    font-size: var(--H3);
  }
}
