.switch {
  color: var(--main-text);
  position: absolute;
  right: -8rem;
}
input[type="checkbox"] {
  visibility: hidden;
}
.switch{
  background: #ffea00;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  position: relative;
  font-size: var(--H5);
  font-weight: var(--style-bold);
  color: #000;
  box-shadow: 1px -5px 20px rgb(246, 230, 62);
}
.switch:after{
    content: "";
    position: absolute;
    background: #000;
    height: 1.7rem;
    width: 1.7rem;
    top: 0;
    left: 0rem;
    border-radius: 0.85rem;
}
input:checked + .switch{
    background: rgb(0, 0, 0);
    box-shadow: 1px 5px 20px rgb(0, 0, 0);

}
input:checked + .switch:after{
    transform: translateX(100%);
    background: #ffea00;
}

/* Responsive Mode */
@media (max-width: 850px){
.switch{
  left: 1rem;
}
}
