@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap");

:root {
  /* Font familly */
  --font-familly: "Raleway", sans-serif;
  --style-thin: 100;
  --style-regular: 400;
  --style-semibold: 500;
  --style-bold: 700;

  /* Font  Size */
  --H1: 2.5rem;
  --H2: 2rem;
  --H3: 1.5rem;
  --H4: 1.1rem;

  /* Backgraound Color */
  --background-main: rgb(35, 39, 47);
  --background-section: rgb(28, 30, 33);
  --background-section-lite: rgb(255, 255, 255);
  --background-lite: rgb(245, 222, 179);
  /* Color -Scheme */
  --main-text: rgb(230, 237, 243);
  --main-text-lite: rgb(1, 1, 0);
  --highlight-text: #ffea00;
  --highlight-text-lite: #097969;
}
* {
  color: var(----main-text);
  font-family: var(--font-familly);
  margin: 0;
  padding: 0;
}
.demo {
  font-weight: var(--style-thin);
  font-size: var(--H1);
  color: var(--highlight-text);
}
.container {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--background-main);
  height: 1000vh;
  /* position: relative; */
}
.containerLite {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--background-lite);
  height: 1000vh;
}
.section {
  min-height: 10rem;
  min-width: 98.5vw;
  margin-top: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.section-title {
  font-size: var(--H2);
  color: var(--highlight-text);
  font-weight: var(--style-bold);
  padding-left: 3rem;
}
.section-titlelite {
  font-size: var(--H2);
  color: var(--highlight-text-lite);
  font-weight: var(--style-bold);
  padding-left: 3rem;
}
.bullet-list {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: var(--style-thin);
  padding-top: 1rem;
  line-height: 1.8rem;
}

/* Master Responsive */

@media (max-width: 850px) {
  .section-title {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--H3);
    padding: 0;
  }
  .section-titlelite {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--H3);
    padding: 0;
  }
  .bullet-list{
    margin: 2rem;
    font-size: var(--H4);
    line-height: 1.5rem;
    padding-top: 0.5rem;
    gap: 0.5rem;
  }
}
